<!doctype html>
<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<head>
</head>
<body>
  <nav class="navbar navbar-default">
    <div classs="container-fluid">
      <a class="navbar-brand" href="/">D&amp;D Difficulty Encounter Estimator</a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2>Estimate Difficulty</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6 col-md-offset-3 well well-md">
        <div class="row">
          <div class="col col-md-6">
            <label>Player Count:</label> <%= playercount %><br />
            <label>Player Level:</label> <%= playerlevel %><br />
            <label>Monster Count:</label> <%= monstercount %><br />
            <label>Monster Level:</label> <%= monsterlevel %><br />
          </div>
          <div class="col col-md-6">
            <h3>Difficulty: <span class="<%= text.toLowerCase() %>"><%= text %></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <a href="/">Go Back</a>
      </div>
    </div>
  </div>
</body>
<style>
  .easy {
    color: #3FC380
  }
  .medium {
    color: #E9D460
  }
  .hard {
    color: #EB9532
  }
  .deadly {
    color: #D64541
  }
</style>
</html>